<%= form_with model: [@test, @question], local: true do |f| %>
  <% if @question.errors.present? %>
    <div>
      <h2><%= pluralize(@test.errors.count, "error") %> detected:</h2>

      <ul>
        <% @question.errors.full_messages do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>

  <%= f.label :answer %>
  <%= f.text_field :answer %>
  <br>

  <%= f.submit %>
<% end %>
